<div class="home-container">
  <!-- Welcome Section -->
  <div class="welcome-section text-center py-4">
    <h1>Welcome to the Sports Facility Center</h1>
    <p>Book, manage, and enjoy your favorite sports facilities easily!</p>

      <div class="button-group mt-3">
      <button *ngIf="!isLoggoedIn"  mat-raised-button color="primary" routerLink="/login">Sign In</button>
      <button *ngIf="!isLoggoedIn"  mat-stroked-button color="accent" routerLink="/register">Sign Up</button>
   <button  mat-raised-button  color="primary" [routerLink]="['/bookings', this.userName]">
     Bookings
</button>          
<button mat-raised-button color="primary"  routerLink="/facilities">Facilities</button>

    </div>
  </div>

  <!-- Facilities Section -->
  <div class="facilities-section text-center mt-5">
    <h2 class="facilities-title mb-4">Available Facilities</h2>


 <div class="text-center mb-4">
  <label for="dateFilter" class="me-2"><b>Select Date:</b></label>
  <input
    id="dateFilter"
    type="date"
    class="date-input"
    [(ngModel)]="selectedDate"
    (change)="fetchFacilitiesByDate()"
  />
</div>
<br/>


    <div *ngIf="facilities.length === 0" class="text-center text-muted">
      No facilities available at the moment.
    </div>

    <div class="facilities-grid">
      <div class="facility-card shadow-sm" *ngFor="let facility of facilities">
        <img
          src="{{ facility.imageUrl }}"
          class="facility-image"
          alt="Facility image"
        />

        <div class="card-body text-center">
          <h3 class="card-title">
            <b>{{ facility.facilityName }}</b>
          </h3>
          <p class="card-text text-muted">{{ facility.description }}</p>
          <p><strong>Opening Time:</strong> {{ facility.openingTime }}</p>
          <p><strong>Closing Time:</strong> {{ facility.closingTime }}</p>

          <div *ngIf="facility.timeSlots?.length">
            <h3 class="fw-semibold mt-3"> <b> Available Slots: </b></h3>
            <div class="slots-container d-flex flex-wrap justify-content-center">
              <span
                *ngFor="let slot of facility.timeSlots; let i = index"
                class="badge bg-success p-2 m-1"
              >
                {{ slot.start }} - {{ slot.end }}

      <select
        class="form-select form-select-sm mx-2"
        style="width: 120px;"
        [(ngModel)]="slot.slotType"
      >
        <option value="" disabled selected>Select</option>
        <option value="BOOKED">Full Book</option>
        <option value="HALF_BOOKED">Half Book</option>
      </select>
       &nbsp;
          <button
            mat-raised-button
            color="primary"
            (click)="book(slot.slotType, facility.id, slot.start, slot.end)"
            class="mt-3"
            [disabled]="disabled"
          >
            Book
          </button> <br/>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
